:root {
    font-size: 16px;
    --yellow-clear: #F2C335;
    --yellow-dark: #F2AE30;
    --orange: #D97823;
    --red: #BF190A;
    --grey-clear: #F2F2F2;
    --grey-dark: #4A4359;
    --black: #0D0D0D;
}

@font-face {
    font-family: 'back to the futur';
    src: url('../BTTF.ttf');
}

* 
{
    box-sizing: border-box;
    }

body,
ul,
h1, h2, h3, h4, h5, h6 {
margin: 0;
padding: 0;
}

a {
    text-decoration: none;
    color: var(--grey-clear);
}

ul {
    list-style: none;
    }


.header {
    background-image: url("../img/BG\ header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
}

.header__banner {
    width: calc(100% / 1.5);
}

.header__ttl {
    font-size: 3rem;
    font-family: 'back to the futur';
    background-image: linear-gradient(var(--red), var(--orange), var(--yellow-clear));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav__lst {
    display: flex;
    justify-content: flex-end;
}

.banner-movie {
    display: flex;
}

.banner-movie__img {
    width: 50%;
}
