:root {
    font-size: 16px;
    --yellow-clear: #F2C335;
    --yellow-dark: #F2AE30;
    --orange: #D97823;
    --red: #BF190A;
    --grey-clear: #F2F2F2;
    --grey-dark: #4A4359;
    --black: #0D0D0D;
}

@font-face {
    font-family: 'back to the futur';
    src: url('../BTTF.ttf');
}

* 
{
    box-sizing: border-box;
    }

body,
ul,
p,
img,
h1, h2, h3, h4, h5, h6 {
margin: 0;
padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--grey-clear);
}

ul {
    list-style: none;
    }


.header {
    background-image: url("../img/BG\ header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
}

.header__banner {
    width: calc(100% / 1.5);
}

.header__ttl {
    font-size: 2rem;
    font-family: 'back to the futur';
    background-image: linear-gradient(var(--red), var(--orange), var(--yellow-clear));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav__lst {
    display: flex;
    justify-content: flex-end;
}

/*//////////nav page////////////*/
.nav__page-close {
    transition: all .3s;
    background-image: url("../img/vhs-tapes-7297369_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    width: 90%;
    position: absolute;
    right: -500px;
    padding-bottom: 1rem;
}

.nav__page-open {
    transition: all .3s;
    background-image: url("../img/vhs-tapes-7297369_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    width: 90%;
    position: absolute;
    right: 0px;
    padding-bottom: 1rem;

}

.nav__page-close__img {
    text-align: right;
}

.nav__page__lst {
    text-align: center;
    text-shadow: 1px 1px 2px var(--red), 0 0 1em var(--orange), 0 0 0.2em var(--yellow-dark);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem; 
}

/*//////////banner movie////////////*/
.banner-movie {
    display: flex;
    text-align: center;
}

.banner-movie__img {
    width: 100%;
    padding: 1rem;
}

.banner-movie__bg-side {
    width: 2.5rem;
    padding: 1rem;
    background-image: url("../img/Rectangle.svg");
}

.banner-movie__content {
    display: flex;
    flex-wrap: wrap;
}

.content-date {
    width: 50%;
    align-self: center;
}

.content-tlt, .content-img {
    width: 50%;
}

.content-btn {
    width: 50%;
    align-self: end;
}

.content__more-infos {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hidden {
    display: none;
}

.content-realisateur,
.content-acteurs {
    display: flex;
}

.content-realisateur p {
    width: calc(100% / 2);
    display: flex;
    justify-content: space-between;
}

.content-acteurs p {
    width: calc(100% / 2);
    display: flex;
    justify-content: space-between;
}

.content-anecdote {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-anecdote p {
    text-align: left;
}

/*main*/

.main {
    background-image: url("../img/Rectangle\ 68.png");
    background-size: cover;
    padding: 1rem 0;
}

.main__banner {
    margin-bottom: 1rem;
    width: 100%;
    background: linear-gradient(var(--red), var(--orange), var(--yellow-dark));
}

/* content infos*/

.content-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-info__article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: linear-gradient(var(--grey-dark), var(--yellow-clear));
}

.article-publication-date{
    text-align: end;
}

/* products page */

.content-products {
    background-color: rgb(255, 255, 255, 55%);
    padding: 1rem;
    margin: 0 1rem;
}

.content-products__lst {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.content-products__itm {
    background-color: #ffffff;
    padding: 1rem;
    width: calc((100% - 1rem) /2);
    text-align: center;
}

.product-img {
    width: 100%;
}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-search {
    background-image: url("../img/bg-recherche.png");
    background-size: cover;
    padding: 1rem;
    margin: 1rem 0 1rem;
}

.input__label {
    background-color: #ffffff;
}

/* footer */
.footer {
    background-color: var(--grey-dark);
    padding: 1rem;
    display: flex;
}

.footer__side-left {
    width: 50%;
    line-height: 0.8;
}

.footer__tlt {
    font-family: 'back to the futur';
    font-size: 1rem;
    background-image: linear-gradient(var(--red), var(--orange), var(--yellow-clear));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer__lst--left {
    display: flex;
    gap: 0.5rem;
    padding-top: 1rem;
}

.footer__side-right {
    text-align: center;
    width: 50%;
}

.side-right__tlt {
    color: #ffffff;
}

.lst__item-right {
    padding-top: 1rem;
}